# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Data
data/**/*.zip
data/**/*.csv
data
# But keep the directories
!data/**/.gitkeep

# Environment
.env

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Lean
*.log
launcher.log
backtests/
cli_commands
backtests/
**/lean.json
backtest